name: First Workflow
on: workflow_dispatch
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Prit Greeting
        run: echo "Hello World"
      - name: Print Goodby
        run: echo "Done - bye!"
